langchain==0.0.350
matplotlib==3.7.3
networkx==3.2.1
numpy==1.24.4
pandas==2.0.3
plotly==5.18.0
plotly_express==0.4.1
pypdf
pygwalker==0.3.18
pyodbc==5.0.1
pyvis==0.3.2
spacy==3.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
streamlit==1.29.0
streamlit_d3graph
ydata-profiling	
streamlit-ydata-profiling
wordcloud==1.9.3
spacy-streamlit
nltk
rapidocr-onnxruntime
sweetviz 
transformers